<html>

<head>
  <title>Adding plans</title>
</head>

<body>
    <h1>Add plans to your schedule:</h1> 
  <form action="/create_plans" method="post">
    <p>
      Plan: <br />
      <input type="text" name="plan" maxlength="50" required/>
    </p>
    <p>
      Hours / week: <br />
      <input type="integer" name="hours_per_week" maxlength="2" pattern="[1-9][0-9]{0,2}" required/>
    </p>
    <p>
      Info: <br />
      <textarea name="info" maxlength="1000"></textarea>
    </p>
    <p>Class: <br />
      <select name="plan_class">
          <option value="">(Assign)</option>
          <option value="mandatory">Mandatory</option>
          <option value="work">Work</option>
          <option value="school">School</option>
          <option value="personla">Personal</option>
          <option value="hobby">Hobby</option>
          <option value="leisure">Leisure</option>
      </select>
    </p>
    <input type="submit" value="Add this plan to your schedule" />
  </form>
</body>

</html>