<html>

<head>
  <title>Edit plan</title>
</head>

<body>
    <h1>Edit your plan here:</h1> 
  <form action="/update_plan" method="post">
    <p>
      Plan: <br />
      <input type="text" name="plan" value="{{ plan.plan }}" maxlength="50" required/>
    </p>
    <p>
      Hours / week: <br />
      <input type="number" name="hours_per_week" value="{{ plan.hours_per_week }}" maxlength="2" pattern="[1-9][0-9]{0,2}" required/>
    </p>
    <p>
      Info: <br />
      <textarea name="info" maxlength="1000">{{ plan.info }}</textarea>
    </p>
    {% for class in all_classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">(option)</option>
        {% for option in all_classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="plan_id" value="{{ plan.plan_id }}" />
    <input type="submit" value="Update" />
  </form>
</body>

</html>