<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>

<body>
  <h1>Time manager</h1>
  {% if session.username %}
  <p>
    You've logged in as {{ session.username }}<br>
    <a href=/add_plans>Add plans</a><br>
    <a href=/search>Search</a><br>
    <a href=/logout>Log out</a><br>
  </p>
  <h2>Your plans:</h2>
  <ul>
    {% for plan in plans %}
    <li><a href="/plan/{{ plan.id }}">{{ plan.plan  }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    Welcome to Time-manager<br>
    <a href=/login>Log in</a><br>
    <a href=/register>Register</a><br>
    <a href=/search>Search</a>
  </p>
  {% endif %}

</body>

</html>