<html>

<head>
  <title>{{ plan.plan }}</title>
</head>

<body>
    <h1>{{ plan.plan }}</h1> 
    {% if session.user_id == plan.user_id %}
  <p>
    <a href="/edit_plan/{{ plan.plan_id }}">Edit</a>
    <a href="/delete_plan/{{ plan.plan_id }}">Delete</a>
  </p>
    {% endif %}
    <p>Time complexity: {{ plan.hours_per_week }} hours / week<br>
        Information: {{ plan.info }}<br>
        Owner: <a href="/user/{{plan.user_id}}">{{ plan.username }}</a><br>
    </p>
    {% if classes %}
    <p>
      Classifications:
      <ul>
      {% for class in classes %}
      <li>{{ class.title }}: {{ class.value }}</li>
      {% endfor %}
      </ul>
    </p>
    {% endif %}
    <p>
    <a href="/">To main page</a>
    </p>
</body>

</html>